<div class="container my-5">
    <h1 class="mb-3">Recent Jobs</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Job ID</th>
          <th class="text-center">Job Board ID</th>
          <th class="text-center">Job Name</th>
          <th class="text-center">Location</th>
          <th class="text-center">Company</th>
          <th class="text-center">Short Description</th>
          <th class="text-center">Salary</th>
          <th class="text-center">Work Type</th>
          <th class="text-center">Skills</th>
          <th class="text-center">Job Description</th>
          <th class="text-center">Date Time Fetched</th>
          <th class="text-center">Applied To</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td><a [routerLink]="['/jobs', 'view', job.jobId ]">View</a></td>
          <td>{{job.jobBoardId}}</td>
          <td>{{job.jobName}}</td>
          <td>{{job.Location}}</td>
          <td>{{job.Company}}</td>
          <td>{{job.ShortDesc}}</td>
          <td>{{job.Salary}}</td>
          <td>{{job.WorkType}}</td>
          <td>{{job.Skills}}</td>
          <td>{{ job.JobDescription | slice:0:100 }}...</td>
          <td class="text-center">{{ job.DateTimeFetched | date:'MM/dd/yyyy h:mm a' }}</td>
          <td [ngClass]="{'text-danger': !job.AppliedTo, 'text-success': job.AppliedTo}" class="text-center">
            <span *ngIf="job.AppliedTo">Yes</span>
            <span *ngIf="!job.AppliedTo">No</span>
          </td>
        </tr>
      </tbody>
    </table>
</div>
