<div class="container my-5">
    <h1 class="mb-3">Job Details</h1>
    <div class="row">
        <div class="col-6">
    <form #form="ngForm" (ngSubmit)="updateJob()">
        <div class="mb-3">
            <label for="" class="form-label">Job Title</label>
            <input type="email" class="form-control" id="jobTitle" readonly placeholder="jobDetails.jobTitle">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Location</label>
            <input type="email" class="form-control" id="location" name="location" 
            [(ngModel)]="jobDetails.location">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Company</label>
            <input type="email" class="form-control" id="company" name="company" 
            [(ngModel)]="jobDetails.company">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</div>
    <!--

            <tr>
                <th>Location</th>
                <td><input type="text" id="test" name="test" [(ngModel)]="jobDetails.location" /></td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{jobDetails.company}}</td>
                <th>Salary</th>
                <td>{{jobDetails.salary}}</td>
                <th>Work Type</th>
                <td>{{jobDetails.workType}}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>{{jobDetails.skills}}</td>
                <th>DateTime Fetched</th>
                <td>{{job.dateTimeFetched}}</td>
                <th>Applied To</th>
                <td>{{job.appliedTo ? 'Yes' : 'No'}}</td>
            </tr>
            <tr>
                <th>Job Description</th>
                <td colspan="5">{{job.jobDescription}}</td>
            </tr>
            <tr>
                <th>DateTime Applied</th>
                <td colspan="5">{{job.dateTimeApplied}}</td>
            </tr>
            <tr>
                <th>Cover Letter</th>
                <td colspan="5">{{job.coverLetter}}</td>
            </tr>
    -->
