<div class="container my-5">
    <h1 class="mb-3">Job Details</h1>

    <!-- Header Section -->
    <div class="row">
        <div class="col-12">
            <h2><a href="{{jobDetails.url}}" target="_blank">{{jobDetails.jobName}}</a></h2>
            <div style="font-size: 0.9rem;">
                <div class="row">
                    <div class="col-6">
                        <p><strong>Location:</strong> {{jobDetails.location}}</p>
                        <p><strong>Company:</strong> {{jobDetails.company}}</p>
                        <p><strong>Salary:</strong> {{jobDetails.salary}}</p>
                        <p><strong>Work Type:</strong> {{jobDetails.workType}}</p>
                    </div>
                    <div class="col-6">
                        <p><strong>Skills:</strong> {{jobDetails.skills}}</p>
                        <p><strong>Date Time Fetched:</strong> {{jobDetails.dateTimeFetched | date:'MM/dd/yyyy h:mm a'}}</p>
                        <p><strong>Applied To:</strong> {{jobDetails.appliedTo ? 'Yes' : 'No'}}</p>
                        <p><strong>Date Time Applied:</strong> {{jobDetails.dateTimeApplied | date:'MM/dd/yyyy h:mm a'}}</p>
                    </div>
                </div>
                <p><strong>Job Description:</strong> {{jobDetails.jobDescription}}</p>
            </div>
        </div>
    </div>

    <!-- Details Section -->
    <div class="row">
        <div>
            <form #form="ngForm" (ngSubmit)="updateJob()">
                <div class="mb-3">
                    <label for="coverLetter" class="form-label">Cover Letter</label>                 
                    <button type="button" class="btn btn-primary" (click)="exportPDF()">Export to PDF</button>
                    <textarea class="form-control w-100" id="coverLetter" name="coverLetter" 
                        [(ngModel)]="coverLetterText" rows="10"></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="appliedTo" name="appliedTo" [(ngModel)]="jobDetails.appliedTo">
                    <label class="form-check-label" for="appliedTo">Applied To</label>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
        </div>
    </div>
</div>
